@charset "UTF-8";
/* Show it is fixed to the top */
a:visited {
  color: black; }

a {
  color: black; }

a:hover {
  text-decoration: none; }

.pink {
  color: #ed3c6f; }

body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.05em;
  padding-top: 70px;
  font-weight: 300; }

.btn-primary:hover {
  background-color: black; }

.navbar-inverse .navbar-toggler {
  z-index: 9999999;
  background: black; }

h1 {
  font-family: 'Glass Antiqua', cursive;
  color: #ed3c6f;
  font-size: 2em;
  font-size: 2em; }

span.ligne-deco {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin: 2px 0;
  display: block; }

#secondary {
  margin-top: 5em;
  margin-bottom: 2em; }

input.form-control {
  font-family: FontAwesome; }

body.logged-in .fixed-top {
  top: 30px;
  border-top: solid thin white; }

.btn-primary {
  color: #fff;
  background-color: #ed3c6f;
  border-color: transparent;
  border-radius: 12px;
  font-family: 'Open Sans', sans-serif; }

p {
  color: #222222; }

.rose {
  color: #ed3c6f; }

h1.entry-title {
  color: #ed3c6f;
  font-family: 'Glass Antiqua', cursive;
  font-size: 2.4em; }

.widget-title {
  color: #ed3c6f;
  font-family: 'Glass Antiqua', cursive;
  font-size: 1.8em;
  text-align: center; }

.widget-area {
  background: #ccc;
  padding: 1.4em; }

.navbar-inverse .navbar-nav .active > .nav-link, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .open > .nav-link {
  color: #fff; }

.navbar-toggleable-md .navbar-nav .nav-link {
  padding-right: 1.1rem;
  padding-left: 1.1rem; }

.bg-inverse {
  background-color: #292b2c !important; }

.main-navigation ul ul {
  top: 1em; }

.navbar-brand {
  font-size: 2em; }

.navbar {
  border-bottom: solid thin #ed3c6f; }

.navbar-inverse .navbar-nav .nav-link {
  color: white;
  font-size: 0.95em;
  text-align: center;
  font-weight: 300;
  font-variant: small-caps; }

.navbar-inverse .navbar-nav .nav-link.disabled {
  color: white; }

.navbar-nav li {
  margin: 0 0.3em; }

.uneligne {
  margin-top: 0.7em; }

.connexion {
  margin-top: 1.2em;
  font-variant: small-caps; }

#search {
  margin-top: 1.5em;
  text-align: center; }

ul.social {
  float: right;
  margin: 1.5em 0em 0em 0em;
  padding: 0; }
  ul.social li {
    float: right;
    list-style: none;
    margin-left: 0.4em;
    margin-top: 0.2em; }
    ul.social li a {
      color: #ed3c6f; }

/*  Home 
_________________________________________________________ */
#imageAccueil {
  width: 100%;
  height: 80vh;
  position: relative; }
  #imageAccueil img.oeil {
    position: absolute;
    top: 0;
    height: 80vh;
    width: 100%; }
  #imageAccueil h1 {
    color: #ed3c6f;
    position: absolute;
    top: 0%;
    left: 12%;
    font-size: 4.9rem;
    font-family: 'Glass Antiqua', cursive; }
  #imageAccueil h2 {
    position: absolute;
    top: 40%;
    left: 12%;
    font-size: 2.8rem;
    text-transform: uppercase; }
  #imageAccueil h2::first-letter {
    font-size: 130%; }
  #imageAccueil p {
    position: absolute;
    top: 53%;
    left: 12%;
    font-size: 1.6rem;
    width: 40%;
    font-family: 'Glass Antiqua', cursive; }
  #imageAccueil .logo {
    position: absolute;
    right: 10%;
    bottom: 15%;
    font-size: 8em; }
  #imageAccueil span.line {
    position: absolute;
    left: 15%;
    top: 20%;
    font-size: 4em;
    color: #fff;
    text-transform: uppercase; }

.wrap-inscris {
  background: #ed3c6f;
  padding: 1.8em 0;
  position: relative; }
  .wrap-inscris .fleur-droite {
    position: absolute;
    right: 5%;
    bottom: 16%; }
  .wrap-inscris .fleur-gauche {
    position: absolute;
    left: 17%;
    bottom: 16%; }
  .wrap-inscris .fleur-gauche-gros {
    position: absolute;
    left: 0%;
    bottom: 0%; }
  .wrap-inscris .ligne-top {
    position: absolute;
    width: 100%;
    height: 3px;
    top: 1px;
    left: 0;
    border-top: solid thin #ccc;
    border-bottom: solid thin #ccc;
    float: left;
    background: #ed3c6f; }
  .wrap-inscris .ligne-bottom {
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 1px;
    left: 0;
    border-top: solid thin #ccc;
    border-bottom: solid thin #ccc; }
  .wrap-inscris h4 {
    color: white;
    font-size: 1.8rem;
    font-weight: 300; }
  .wrap-inscris a:visited {
    color: white; }
  .wrap-inscris a {
    color: white;
    font-size: 2.4em;
    border-radius: 0;
    margin-top: 0.7em;
    padding: 0.1em 1.3em; }
  .wrap-inscris .btn-default {
    background-color: black;
    width: 24rem;
    font-family: 'Glass Antiqua', cursive;
    transition: background-color 0.5s ease; }
  .wrap-inscris .btn-default:hover {
    background: white;
    color: black; }

ul.wrap-jjjj {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0; }
  ul.wrap-jjjj li {
    position: relative;
    float: left;
    list-style: none; }
    ul.wrap-jjjj li img {
      width: 100%;
      height: auto; }
    ul.wrap-jjjj li p {
      position: absolute;
      color: #a01940;
      text-transform: uppercase;
      font-family: 'Glass Antiqua', cursive;
      font-size: 2rem; }
  ul.wrap-jjjj li.small {
    width: 22%; }
  ul.wrap-jjjj li.large {
    width: 28%; }
  ul.wrap-jjjj li.jecris p {
    left: 9%;
    bottom: -15%; }
  ul.wrap-jjjj li.jassume p {
    left: 33%;
    top: 31%; }
  ul.wrap-jjjj li.javance p {
    left: 2%;
    bottom: -15%; }
  ul.wrap-jjjj li.jesuis p {
    left: 37%;
    bottom: 13%; }

.wrap-video {
  background-color: #e4e4e4;
  padding: 3em 0; }

.wrap-menu-ecole {
  background-color: #ed3c6f;
  border-top: solid thin white; }

nav#nav-ecole ul {
  padding: 0.4em 0;
  float: left;
  width: 100%;
  float: left;
  margin: 0 0 0em 0em; }
  nav#nav-ecole ul li {
    float: left;
    list-style: none;
    font-size: 1em;
    padding: 0 1em;
    font-variant: small-caps;
    position: relative; }
    nav#nav-ecole ul li a {
      color: white; }
    nav#nav-ecole ul li span {
      position: absolute;
      height: 1px;
      background-color: black;
      width: 23px;
      top: 58%;
      right: -8%; }
  nav#nav-ecole ul li.blogueuses {
    margin-left: 0.5em;
    font-weight: 700; }
  nav#nav-ecole ul li.contact {
    font-weight: 700; }

.banniere-haut {
  background: url(images/rectangle-pour-photo-ecole.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 6em 0;
  color: white; }
  .banniere-haut .logo {
    position: absolute;
    right: 10px;
    top: -50px; }
  .banniere-haut h4 {
    color: #ed3c6f;
    font-size: 3.6em;
    font-family: 'Glass Antiqua', cursive;
    margin-top: 0.2em; }
  .banniere-haut h3 {
    text-align: center;
    font-weight: 700;
    font-size: 3em;
    margin-top: 0.3em; }
  .banniere-haut h5 {
    text-align: center;
    margin-to: 1.8em; }

.vos-demoisailes h3 {
  text-align: center;
  margin-bottom: 1em; }
.vos-demoisailes h1 {
  font-size: 3em;
  margin-top: 1em;
  position: relative;
  z-index: 1;
  text-align: center; }
.vos-demoisailes h1:before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1; }
.vos-demoisailes h1 span {
  background: #fff;
  padding: 0 15px; }

.wrap-user {
  border: solid thin #ccc;
  -webkit-box-shadow: 2px 2px 1px 1px rgba(117, 117, 117, 0.36);
  -moz-box-shadow: 2px 2px 1px 1px rgba(117, 117, 117, 0.36);
  box-shadow: 2px 2px 1px 1px rgba(117, 117, 117, 0.36);
  margin-bottom: 2em; }
  .wrap-user p.description {
    padding: 0.4em; }
  .wrap-user p.nbarticles {
    text-align: center; }
    .wrap-user p.nbarticles a {
      color: #ed3c6f; }
  .wrap-user img {
    border: solid thin #ccc;
    margin: 0.1em; }
  .wrap-user h4 {
    text-align: center;
    font-family: 'Glass Antiqua', cursive;
    margin-top: 1.1em; }
    .wrap-user h4 a {
      color: #ed3c6f; }

/*  Article  
_________________________________________________________ */
.wrap-txt-profil {
  border: solid thin #ccc;
  padding: 0.5em;
  margin-top: 0.3em;
  margin-bottom: 3em;
  height: 380px;
  position: relative; }
  .wrap-txt-profil .lire {
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -25px; }
  .wrap-txt-profil .btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -52px; }
  .wrap-txt-profil p {
    font-size: 0.9em; }
  .wrap-txt-profil a.btn:visited {
    color: white; }

.wrap-articles {
  width: 100%;
  float: left; }
  .wrap-articles .container {
    position: relative; }
  .wrap-articles img.thumb {
    margin-bottom: 1em; }
  .wrap-articles .fleur-art {
    position: absolute;
    right: 31%;
    top: 47%; }
  .wrap-articles .wrap-img-text {
    border: solid thin #555; }
  .wrap-articles .wrap-article:hover h7 {
    color: white; }
  .wrap-articles .wrap-article h5 {
    position: relative;
    z-index: 1;
    font-size: 1em;
    text-align: center; }
    .wrap-articles .wrap-article h5 span {
      background: #fff;
      padding: 0 15px; }
  .wrap-articles .wrap-article h5:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1; }
  .wrap-articles .wrap-article h3 {
    text-align: center;
    color: #ed3c6f;
    font-size: 1.2em;
    margin-bottom: 1.4em;
    height: 60px;
    margin-top: 1em; }
  .wrap-articles .wrap-article .btn-primary {
    background-color: black;
    border-radius: 0px !important;
    margin-top: 1em; }
  .wrap-articles .wrap-article h7 {
    font-size: 0.9em;
    font-family: 'Glass Antiqua', cursive;
    color: #ed3c6f; }
  .wrap-articles .wrap-article h6 {
    font-size: 0.8em; }
  .wrap-articles .wrap-blogueuse {
    background-color: white;
    transition: background-color 0.5s ease; }
  .wrap-articles .wrap-blogueuse:hover {
    background-color: #ed3c6f;
    color: white; }
  .wrap-articles .wrap-blogueuse {
    border: solid thin #666;
    padding: 0.2em;
    text-align: center; }
  .wrap-articles .titre h3 {
    text-transform: uppercase;
    font-size: 3em;
    margin-top: 1em;
    position: relative;
    z-index: 1; }
    .wrap-articles .titre h3 span {
      background: #fff;
      padding: 0 15px; }
  .wrap-articles .titre h3:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1; }
  .wrap-articles .titre h4 {
    text-transform: uppercase;
    font-size: 2em;
    color: #a01940;
    font-family: 'Glass Antiqua', cursive;
    margin-bottom: 2em; }

.wrap-merci {
  position: relative;
  background: url(images/bandeau-merci-a-nos-blogueuses-la-demoisaile.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 400px;
  float: left;
  border-top: solid thin #ccc;
  border-bottom: solid thin #ccc; }
  .wrap-merci .merci {
    float: left;
    font-size: 3.8em;
    font-family: 'Glass Antiqua', cursive;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.8em;
    margin-top: 1em;
    border: solid thin #ccc;
    text-transform: uppercase; }
    .wrap-merci .merci span {
      font-size: 120%; }

.wrap-commanditaire {
  padding: 0.3em;
  border: solid thin whitesmoke;
  -webkit-box-shadow: 4px 3px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 3px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 3px 5px -6px rgba(0, 0, 0, 0.75); }

.article-ecole h5 {
  font-size: 0.7em;
  margin-top: 0.2em;
  text-align: center; }
.article-ecole .wrap-blogueuse {
  border: solid thin #ccc; }

.video .btn-video-principal {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 1em; }
  .video .btn-video-principal .fa-5x {
    font-size: 10em;
    color: black; }
  .video .btn-video-principal .fa-play-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -62px;
    margin-top: -62px;
    z-index: 99; }

.vertical {
  margin-bottom: 1em;
  display: block;
  width: 100%;
  height: auto; }

.btn-video_img {
  position: relative; }
  .btn-video_img .fa-5x {
    font-size: 5em;
    color: black; }
  .btn-video_img .fa-play-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -35px;
    z-index: 99; }

#navbarFooter ul {
  background-color: #ed3c6f;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0.8em 0; }
  #navbarFooter ul li {
    list-style: none;
    float: left;
    margin: 0 0.5em; }
    #navbarFooter ul li a {
      color: white;
      text-align: center;
      font-size: 1.1em; }

.wrap-social {
  margin-top: 2em;
  background-image: url("images/bg-tissu.jpg");
  float: left;
  width: 100%;
  height: auto;
  padding: 2em 0; }
  .wrap-social .fb-root {
    margin-top: 2em; }
  .wrap-social .insta {
    width: 100%;
    float: left;
    display: block;
    text-align: center;
    color: white;
    font-family: 'Glass Antiqua', cursive;
    font-size: 2em; }

.entry-content a {
  color: #ed3c6f; }

body.home .wrap-social {
  margin-top: 0em; }

.wrap-logo {
  float: left;
  width: 100%;
  padding: 2em 0; }
  .wrap-logo h4 {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 1.7em; }

.wrap-footer {
  float: left;
  width: 100%;
  background-color: black;
  color: white;
  border-top: solid thin #ccc; }
  .wrap-footer .site-info p {
    color: white;
    margin-top: 0.4em;
    margin-bottom: 0.5em; }
    .wrap-footer .site-info p a {
      color: white; }

body.page-id-6 .modal-content {
  padding: 2em;
  line-height: 1.6; }

.widget-fondateurs img {
  margin-top: 2.6em; }
.widget-fondateurs h4 {
  font-size: 0.9em;
  font-weight: 700;
  margin-top: 0.8em; }
  .widget-fondateurs h4 a {
    color: #ed3c6f; }

.wrap-ecole-participante {
  background-image: url(images/slider-la-demoisaile.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .wrap-ecole-participante h3 {
    color: #ed3c6f;
    font-family: 'Glass Antiqua', cursive;
    margin-top: 1em;
    font-size: 3em; }
  .wrap-ecole-participante span {
    font-weight: 700; }
  .wrap-ecole-participante h4 {
    margin-top: 4em; }
  .wrap-ecole-participante .inscris {
    padding: 0.4em 1.6em;
    color: white;
    background-color: #ed3c6f;
    margin-bottom: 2em;
    margin-top: 2em;
    float: left;
    font-size: 1.6em;
    font-family: 'Glass Antiqua', cursive;
    transition: background-color 0.5s ease;
    -webkit-box-shadow: 3px 3px 3px 3px #454345;
    box-shadow: 3px 3px 3px 3px #adadad; }
  .wrap-ecole-participante .inscris:hover {
    background: black; }

.ecole-participantes h1 {
  text-align: center;
  font-family: 'Glass Antiqua', cursive;
  color: #ed3c6f;
  font-size: 2em; }

.wrap-ecole:hover {
  background-color: #f7f7f7; }

.wrap-ecole {
  padding-top: 0.8em;
  float: left;
  width: 100%;
  transition: background-color 0.5s ease;
  -webkit-box-shadow: 3px 3px 3px 3px #454345;
  box-shadow: 3px 3px 3px 3px #adadad;
  background-color: white;
  transition: background-color 0.5s ease; }
  .wrap-ecole img {
    width: 80%; }
  .wrap-ecole h4 {
    color: #ed3c6f;
    font-size: 1em;
    font-weight: 700;
    margin-top: 0.4em; }
  .wrap-ecole h5 {
    margin-top: 0.8em;
    font-family: 'Glass Antiqua', cursive; }
  .wrap-ecole h5::first-letter {
    text-transform: uppercase; }

.wrap-contactez-nous {
  border-top: solid thin #ccc;
  border-bottom: solid thin #ccc;
  padding: 1em 0;
  position: relative;
  background-color: rgba(103, 91, 75, 0.1); }
  .wrap-contactez-nous h3 {
    margin-left: 22%;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-size: 2.4em; }
  .wrap-contactez-nous p {
    color: #ed3c6f;
    line-height: 1.6;
    margin-left: 20%;
    font-size: 1.2em; }
  .wrap-contactez-nous .fleur {
    position: absolute;
    left: 0;
    bottom: -13%;
    background-image: url(images/contact-fleur.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 300px; }

.wrap-ecole-bienvenue {
  background-image: url(images/bg-bienvenu-ecole-la-demoisaile.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 0em; }
  .wrap-ecole-bienvenue h1 {
    color: black;
    font-size: 3em; }
  .wrap-ecole-bienvenue p {
    font-size: 1.4em;
    text-transform: uppercase;
    margin-bottom: 1.8em; }

.articles-recents {
  text-align: center;
  border-bottom: solid thin #ccc;
  margin-bottom: 2em;
  text-transform: uppercase;
  font-size: 1.8em;
  color: #ed3c6f;
  margin-top: 1.8em;
  line-height: 2; }

h5.categorie {
  position: relative;
  z-index: 1; }
  h5.categorie span {
    background: #fff;
    padding: 0 15px; }

h5.categorie:before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1; }

h3.article-title {
  color: #ed3c6f;
  font-size: 1.2em;
  text-align: center;
  height: 60px; }

.wrap-marie-mathieu {
  position: relative; }
  .wrap-marie-mathieu h4 {
    text-align: center;
    line-height: 2;
    font-family: 'Glass Antiqua', cursive;
    font-size: 1.6em; }
    .wrap-marie-mathieu h4 a {
      color: #ed3c6f; }
  .wrap-marie-mathieu .bloc-gris {
    position: absolute;
    width: 105%;
    left: -5%;
    height: 95%;
    top: 5%;
    background: #0c0c0c;
    z-index: -99; }
  .wrap-marie-mathieu img {
    width: 95%; }

.modal-sm {
  max-width: 600px; }

.wrap-consultez {
  background-image: url(images/bg-bienvenu-ecole-la-demoisaile.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 2em 0;
  position: relative;
  float: left;
  width: 100%; }
  .wrap-consultez span.motif {
    position: absolute;
    background-image: url(images/motif.png);
    right: 29%;
    bottom: 10%;
    width: 341px;
    height: 98px; }
  .wrap-consultez .btn-trouver {
    background: #f3f3f3;
    border: solid thin #262626;
    padding: 0.6em 3em;
    margin-left: 20%;
    font-size: 1.4em;
    margin-top: 1.4em;
    float: left;
    transition: background-color 0.5s ease; }
  .wrap-consultez .btn-trouver:hover {
    background: #ed3c6f;
    color: white; }
  .wrap-consultez h5 {
    font-size: 2.4em;
    font-family: 'Glass Antiqua', cursive;
    padding: 0 4em;
    line-height: 1.8; }

#field_2_5, #field_2_6, #field_2_7, #field_2_8 {
  width: 50%;
  float: left; }

.gform_wrapper ul li.gfield {
  clear: none !important; }

.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
  width: calc(100% - 8px) !important; }

body.page-template-contact #field_2_2, body.page-template-contact #field_2_4 {
  display: none; }

.contact-form {
  background-color: rgba(210, 210, 210, 0.1); }
  .contact-form #gform_submit_button_2 {
    font-size: 1em;
    width: 100%;
    margin: 0 16px 0 0;
    border: solid thin #ccc;
    background-color: white;
    transition: background-color 0.5s ease; }
  .contact-form #gform_submit_button_2:hover {
    background-color: #ed3c6f;
    color: white; }
  .contact-form #field_2_9 {
    margin-top: 1em;
    float: left;
    width: 100%; }
  .contact-form h5 {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 1.3em;
    font-size: 2.6em;
    font-family: 'Glass Antiqua', cursive; }
  .contact-form h5 span {
    background: #efeeec;
    padding: 0 15px; }
  .contact-form h5:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1; }

.wrap-ecrivez-nous {
  background-color: rgba(103, 91, 75, 0.1);
  padding-top: 2em; }
  .wrap-ecrivez-nous .text .fleur-droite {
    position: absolute;
    right: 0%;
    bottom: 20%; }
  .wrap-ecrivez-nous .text h4 {
    color: #ed3c6f;
    margin-top: 3em;
    font-family: 'Glass Antiqua', cursive;
    font-size: 2.6em;
    margin-bottom: 1em; }
  .wrap-ecrivez-nous .text p {
    color: #ed3c6f;
    font-size: 1.4em;
    line-height: 1.8; }

.titre-cat .breadcrump {
  margin-top: 0.8em;
  float: left; }
.titre-cat h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 1em; }
  .titre-cat h1 span {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center; }
.titre-cat h5 {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 2em; }
.titre-cat h5:before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1; }
.titre-cat h5 span {
  background: #fff;
  padding: 0 15px; }

.breadcrump {
  margin-top: 2em; }

.wrap-user-arvhive {
  background: #e9e9e9;
  padding: 2em;
  margin-bottom: 3em;
  margin-top: 2em; }
  .wrap-user-arvhive .auteur {
    padding: 0.5em;
    background-color: darkgray;
    border: solid thin #666; }
  .wrap-user-arvhive h5 {
    color: #ed3c6f;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em; }
  .wrap-user-arvhive h3 {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #ed3c6f;
    font-size: 3em;
    font-family: 'Glass Antiqua', cursive;
    margin-bottom: 1em; }
  .wrap-user-arvhive h3:before {
    border-top: 2px solid #727272;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1; }
  .wrap-user-arvhive h3 span {
    background: #e9e9e9;
    padding: 0 15px; }
  .wrap-user-arvhive h4 a {
    color: #ed3c6f; }

.archive-author .wrap-txt-profil {
  height: 220px; }

.img-single {
  width: 100%;
  display: block;
  margin-bottom: 2em;
  margin-top: 2em; }

ul#auteur-info {
  float: left;
  width: 50%;
  margin-right: 50%;
  padding: 1em;
  background-color: #fafafa; }
  ul#auteur-info li {
    float: left;
    width: 100%;
    list-style: none;
    border-bottom: solid thin white; }
    ul#auteur-info li a {
      color: #ed3c6f; }

.single h1 {
  font-family: 'Glass Antiqua', cursive;
  text-align: center;
  font-size: 2.8em;
  color: black; }
.single h5 {
  font-family: 'Glass Antiqua', cursive;
  position: relative;
  z-index: 1;
  font-size: 2.2em;
  text-align: center; }
  .single h5 span {
    background: #fff;
    padding: 0 15px; }
.single h5:before {
  font-family: 'Glass Antiqua', cursive;
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1; }

.btn-circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #3b5998;
  float: left;
  text-align: center; }
  .btn-circle .fa {
    color: white;
    margin-top: 14px; }

.partagez {
  margin-top: 16px;
  margin-left: 10px;
  float: left;
  font-weight: 700; }

a.btn-auteur {
  background: black;
  color: white;
  transition: background-color 0.5s ease;
  padding: 1em 2em; }

a.btn-auteur:hover {
  background: #ed3c6f; }

.list-user .user-9, .list-user .user-13, .list-user .user-12 {
  display: none; }

/* iPhone 5 portrait · width: 321px */
@media only screen and (min-width: 0px) and (max-width: 600px) {
  body {
    padding-top: 0px; }

  .navbar {
    padding: .05rem 1rem; }

  .navbar-inverse .navbar-toggler {
    margin-top: 0.2em; }

  #imageAccueil {
    width: 100%;
    height: 500px; }

  #imageAccueil img.oeil {
    height: auto; }

  #imageAccueil h1 {
    top: 22%;
    left: 6%;
    font-size: 2.8rem; }

  #imageAccueil h2 {
    top: 38%;
    left: 5%;
    font-size: 1.6rem;
    width: 80%; }

  #imageAccueil p {
    top: 59%;
    left: 7%;
    font-size: 1rem;
    width: 80%; }

  .wrap-txt-profil {
    height: 458px; }

  .wrap-inscris .fleur-gauche-gros {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 50%; }

  .wrap-inscris .btn-default {
    width: 12rem; }

  .wrap-inscris a {
    font-size: 1em; }

  .wrap-inscris h4 {
    font-size: 1.2rem; }

  ul.wrap-jjjj li.large, ul.wrap-jjjj li.small {
    width: 100%; }

  .wrap-articles .titre h3 {
    font-size: 1.4em; }

  .wrap-articles .titre h4 {
    font-size: 1.2em; }

  .wrap-article h3 {
    font-size: 1em; }

  .wrap-consultez h5 {
    font-size: 1.4em;
    padding: 0 0em;
    line-height: 1.6;
    text-align: center; }

  .wrap-consultez .btn-trouver {
    padding: 0.6em 1em;
    margin-left: 12%;
    font-size: 1.2em; }

  .wrap-merci .merci {
    font-size: 1.8em; } }
/* iPhone 6 portrait · width: 375px */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  body {
    padding-top: 0px; }

  .navbar {
    padding: .05rem 1rem; }

  .navbar-inverse .navbar-toggler {
    margin-top: 0.2em; }

  #imageAccueil {
    width: 100%;
    height: 500px; }

  #imageAccueil img.oeil {
    height: auto; }

  #imageAccueil h1 {
    top: 29%;
    left: 6%;
    font-size: 2.8rem; }

  #imageAccueil h2 {
    top: 46%;
    left: 5%;
    font-size: 1.6rem;
    width: 80%; }

  #imageAccueil p {
    top: 64%;
    left: 7%;
    font-size: 1rem;
    width: 80%; }

  .wrap-txt-profil {
    height: 554px; }

  .wrap-inscris .fleur-gauche-gros {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 50%; }

  .wrap-inscris .btn-default {
    width: 12rem; }

  .wrap-inscris a {
    font-size: 1em; }

  .wrap-inscris h4 {
    font-size: 1.2rem; }

  ul.wrap-jjjj li.large, ul.wrap-jjjj li.small {
    width: 100%; }

  .wrap-articles .titre h3 {
    font-size: 1.4em; }

  .wrap-articles .titre h4 {
    font-size: 1.2em; }

  .wrap-article h3 {
    font-size: 1em; }

  .wrap-consultez h5 {
    font-size: 1.4em;
    padding: 0 0em;
    line-height: 1.6;
    text-align: center; }

  .wrap-consultez .btn-trouver {
    padding: 0.6em 1em;
    margin-left: 12%;
    font-size: 1.2em; }

  .wrap-merci .merci {
    font-size: 1.8em; }

  .wrap-ecole-participante h4 {
    margin-top: 2em; }

  .h4 {
    font-size: 1.3rem; }

  #navbarFooter ul li {
    width: 100%; } }
/* Android (Nexus 4) portrait · width: 384px */
@media only screen and (min-width: 376px) and (max-width: 384px) {
  body {
    padding-top: 0px; }

  .navbar {
    padding: .05rem 1rem; }

  .navbar-inverse .navbar-toggler {
    margin-top: 0.2em; }

  #imageAccueil {
    width: 100%;
    height: 500px; }

  #imageAccueil img.oeil {
    height: auto; }

  #imageAccueil h1 {
    top: 29%;
    left: 6%;
    font-size: 2.8rem; }

  #imageAccueil h2 {
    top: 46%;
    left: 5%;
    font-size: 1.6rem;
    width: 80%; }

  #imageAccueil p {
    top: 64%;
    left: 7%;
    font-size: 1rem;
    width: 80%; }

  .wrap-txt-profil {
    height: 458px; }

  .wrap-inscris .fleur-gauche-gros {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 50%; }

  .wrap-inscris .btn-default {
    width: 12rem; }

  .wrap-inscris a {
    font-size: 1em; }

  .wrap-inscris h4 {
    font-size: 1.2rem; }

  ul.wrap-jjjj li.large, ul.wrap-jjjj li.small {
    width: 100%; }

  .wrap-articles .titre h3 {
    font-size: 1.4em; }

  .wrap-articles .titre h4 {
    font-size: 1.2em; }

  .wrap-article h3 {
    font-size: 1em; }

  .wrap-consultez h5 {
    font-size: 1.4em;
    padding: 0 0em;
    line-height: 1.6;
    text-align: center; }

  .wrap-consultez .btn-trouver {
    padding: 0.6em 1em;
    margin-left: 12%;
    font-size: 1.2em; }

  .wrap-merci .merci {
    font-size: 1.8em; }

  .wrap-ecole-participante h4 {
    margin-top: 2em; }

  .h4 {
    font-size: 1.3rem; }

  #navbarFooter ul li {
    width: 100%; } }
/* iPhone 6 Plus portrait · width: 414px */
@media only screen and (min-width: 385px) and (max-width: 414px) {
  body {
    padding-top: 0px; }

  .navbar {
    padding: .05rem 1rem; }

  .navbar-inverse .navbar-toggler {
    margin-top: 0.2em; }

  #imageAccueil {
    width: 100%;
    height: 500px; }

  #imageAccueil img.oeil {
    height: auto; }

  #imageAccueil h1 {
    top: 29%;
    left: 6%;
    font-size: 2.8rem; }

  #imageAccueil h2 {
    top: 46%;
    left: 5%;
    font-size: 1.6rem;
    width: 80%; }

  #imageAccueil p {
    top: 64%;
    left: 7%;
    font-size: 1rem;
    width: 80%; }

  .wrap-txt-profil {
    height: 458px; }

  .wrap-inscris .fleur-gauche-gros {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 50%; }

  .wrap-inscris .btn-default {
    width: 12rem; }

  .wrap-inscris a {
    font-size: 1em; }

  .wrap-inscris h4 {
    font-size: 1.2rem; }

  ul.wrap-jjjj li.large, ul.wrap-jjjj li.small {
    width: 100%; }

  .wrap-articles .titre h3 {
    font-size: 1.4em; }

  .wrap-articles .titre h4 {
    font-size: 1.2em; }

  .wrap-article h3 {
    font-size: 1em; }

  .wrap-consultez h5 {
    font-size: 1.4em;
    padding: 0 0em;
    line-height: 1.6;
    text-align: center; }

  .wrap-consultez .btn-trouver {
    padding: 0.6em 1em;
    margin-left: 12%;
    font-size: 1.2em; }

  .wrap-merci .merci {
    font-size: 1.8em; }

  .wrap-ecole-participante h4 {
    margin-top: 2em; }

  .h4 {
    font-size: 1.3rem; }

  #navbarFooter ul li {
    width: 100%; } }
/*Custom width:500px */
/*iPhone 5 landscape · width: 568px */
/*small · width: 600px */
/*————-FIN SMALL—————-*/
/*Android (Nexus 4) landscape · width: 640px */
/* iPhone 6 landscape · width: 667px */
/* iPhone 6 Plus landscape · width: 736px */
/* iPad portrait · width: 768px */
/* iPad landscape · width: 1024px */
@media (max-width: 990px) {
  .banniere-haut .logo {
    position: relative;
    right: inherit;
    top: inherit;
    width: 60%;
    margin: -30px 0 -30px 20%; } }

/*# sourceMappingURL=app.css.map */
