{% extends '::layout.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block content %}

<div class="container">
    
    <div class="row">

    <div class="col-12">
        <h1 class="primary-color">Merci pour votre courriel</h1>
        <p>Le message à été envoyé avec succès. Nous allons vous répondre dans les plus brefs délais.</p>
    </div>

</div>

</div>


{% endblock %}
