# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
/node_module/*
/vendor/
/var/*
/bin/*
!bin/console
!bin/symfony_requirements

# Assets and user uploads
/web/bundles/
/web/uploads/
/web/sass/.sass-cache/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Embedded web-server pid file
/.web-server-pid

