{% extends ':admin:layout.html.twig' %}


  {% block content %}


    <!-- ====================================================
		Content Wrapper
		====================================================== -->
		<div class="content-wrapper">
			<div class="container-fluid">
                    {% include "@FOSUser/Profile/edit_content.html.twig" %}
                
                
            </div>
        </div>
                {% endblock  %}
