{{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
    <span>Infolettre</span>
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {# Génération manuelle et éclatée : #}

    {# Idem pour un autre champ. #}
    {{ form_rest(form) }}
<button type="submit" class="btn">Je m’abonne !</button>
    {# Fermeture de la balise <form> du formulaire HTML #}
{{ form_end(form) }}