{% extends '::layout.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block stylesheets %}
    {{ parent() }}





{% endblock %}

{% block content %}

<div class="container first-container">
        <div class="row">
            <div class="col-sm-12">
                <h1>La deMOIs'aile</h1>
                <span>Accueil / Recheche </span>
            </div>
        </div>
    </div>

    <div class="">

<span class="ligne-deco"></span>
        <div class="">
        <span class="fleur"></span>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">

                            <script async src="https://cse.google.com/cse.js?cx=006937059085235617015:nejfl1zlpbv"></script>
                            <div class="gcse-searchresults-only"></div>


                        </div>

                    </div>
                </div>
        
        </div>
        
        

{% endblock %}
