{% extends '::layout.html.twig' %}


{% block title %}

{% endblock %}
{% block content %}
    <div class="jumbotron jumbotron1">
        <div class="container inner">
            <div>

                <p>{{ ressource.contenu|raw }}</p>
                <hr>
            </div>
        </div>
    </div>
    


     
{% endblock %}
