{# src/Viweb/SeoBundle/Resources/views/Seo/add.html.twig #}

{% extends "ViwebSeoBundle::layout.html.twig" %}

{% block body %}

  <h2>Ajouter un mot clé</h2>

  {{ include("ViwebSeoBundle:Motscles:form.html.twig") }}

  <p>
    
  </p>

{% endblock %}