{% extends '::layout.html.twig' %}


{% block title %} Bookzine - La deMOIs’aile {% endblock %}
{% block metaDescription %}La deMOIs’aile - Bookzine{% endblock %}
{% block content %}

   <div class="container">
      <div class="row mb-2">
        <div class="col-12">
          <div class="breadcrump">
            <a href="/">Accueil</a> | <span class="pink">Bookzine</span>
          </div>  
          <h3 class="articles-recents">Bookzine</h3>


            <section class="sect_capsul"> 


                <div class="row justify-content-center">
                </div>

            </section>    

        </div>

      </div>
  </div>


     
{% endblock %}



