{% extends '::layout.html.twig' %}


{% block title %}Inscription - La deMOIs’aile {% endblock %}
{% block metaDescription %}La deMOIs’aile - Inscription{% endblock %}
{% block content %}

   <div class="container">
      <div class="row mb-2">
        <div class="col-12">
          <div class="breadcrump">
            <a href="/">Accueil</a> | <span class="pink">Inscription</span>
          </div>  
          <h3 class="articles-recents">Inscription</h3>
            <section class="sect_capsul"> 
                <div class="row justify-content-center">
                    <div class="col-md-10" style="margin-top:10px; margin-bottom:55px; ">
                    
                    </div>
                </div>
            </section>
        </div>
      </div>
  </div>
{% endblock %}



