{% extends '::layout.html.twig' %}


{% block title %}Lire les lettres des blogueuses - La deMOIs’aile {% endblock %}
{% block metaDescription %}La deMOIs’aile - Lire les lettres des blogueuses{% endblock %}
{% block content %}

   <div class="container">
      <div class="row mb-2">
        <div class="col-12">
          <div class="breadcrump">
            <a href="/">Accueil</a> | <span class="pink">Lire les lettres des blogueuses</span>
          </div>  
          <h3 class="articles-recents">Lire les lettres des blogueuses</h3>


            <section class="sect_capsul"> 


                <div class="row justify-content-center">
                    <div class="col-12" style="margin-top:10px; margin-bottom:55px; ">
                        
                    </div>
                </div>

            </section>    

        </div>

      </div>
  </div>


     
{% endblock %}



