{% extends '::layout.html.twig' %}


{% block title %}Rapport annuel - La deMOIs’aile{% endblock %}
{% block metaDescription %}La deMOIs’aile - Rapport annuel 2025{% endblock %}
{% block content %}

<div class="container">
        
    <div class="row">
        
        <div class="col-md-12">
            
            <div id="primary" class="content-area">
                <main id="main" class="site-main padd">
                    <h1>Rapport d'activités 2024-2025 de l'organisme </h1>
                    <p><br/></p>
                    <iframe src="/web/uploads/RapportDactivite2025.pdf" style="width:100%; height:800px; border:0"></iframe>
                    <p><br/></p>
                </main><!-- #main -->
            </div><!-- #primary -->
        
        </div>
    </div>   
</div>

{% endblock %}
