{% extends '::layout.html.twig' %}


{% block title %} Web séries - La deMOIs’aile {% endblock %}
{% block metaDescription %}La deMOIs’aile - Web série{% endblock %}
{% block content %}

   <div class="container">
      <div class="row mb-2">
        <div class="col-12">
          <div class="breadcrump">
            <a href="/">Accueil</a> | <span class="pink">Web série</span>
          </div>  
          <h3 class="articles-recents">Web série</h3>


            <section class="sect_capsul"> 


                <div class="row justify-content-center">
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px;">
                        <div style="background-color: #000">
                        <iframe width="100%" height="300"  src="https://player.vimeo.com/video/1086500181?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="✨ Websérie saison 4 ✨ Épisode 1"></iframe><script src="https://player.vimeo.com/api/player.js"></script></div>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px;">
                        <div style="background-color: #000">
                        <iframe width="100%" height="300"  src="https://player.vimeo.com/video/1084321269?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="✨ Websérie saison 4 ✨ Épisode 1"></iframe><script src="https://player.vimeo.com/api/player.js"></script></div>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px;">
                        <div style="background-color: #000">
                        <iframe width="100%" height="300"  src="https://player.vimeo.com/video/1082277457?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="✨ Websérie saison 4 ✨ Épisode 1"></iframe><script src="https://player.vimeo.com/api/player.js"></script></div>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px;">
                        <div style="background-color: #000">
                        <iframe width="100%" height="300"  src="https://player.vimeo.com/video/1080217466?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="✨ Websérie saison 4 ✨ Épisode 1"></iframe><script src="https://player.vimeo.com/api/player.js"></script></div>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px;">
                        <div style="background-color: #000">
                        <iframe width="100%" height="300"  src="https://player.vimeo.com/video/1077602053?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="✨ Websérie saison 4 ✨ Épisode 1"></iframe><script src="https://player.vimeo.com/api/player.js"></script></div>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px;">
                        <div style="background-color: #000">
                        <iframe width="100%" height="300"  src="https://player.vimeo.com/video/1075333852?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="✨ Websérie saison 4 ✨ Épisode 1"></iframe><script src="https://player.vimeo.com/api/player.js"></script></div>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px;">
                        <div style="background-color: #000">
                        <iframe width="100%" height="300"  src="https://player.vimeo.com/video/1073333824?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="✨ Websérie saison 4 ✨ Épisode 1"></iframe><script src="https://player.vimeo.com/api/player.js"></script></div>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px;">
                        <div style="background-color: #000">
                        <iframe width="100%" height="300"  src="https://player.vimeo.com/video/1071909824?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="✨ Websérie saison 4 ✨ Épisode 1"></iframe><script src="https://player.vimeo.com/api/player.js"></script></div>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px;">
                        <div style="background-color: #000">
                        <iframe width="100%" height="300"  src="https://player.vimeo.com/video/1064671557?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="✨ Websérie saison 4 ✨ Épisode 1"></iframe><script src="https://player.vimeo.com/api/player.js"></script></div>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px;">
                        <div style="background-color: #000">
                        <iframe width="100%" height="300"  src="https://player.vimeo.com/video/1057627675?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="✨ Websérie saison 4 ✨ Épisode 1"></iframe><script src="https://player.vimeo.com/api/player.js"></script></div>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px;">
                        <div style="background-color: #000">
                        <iframe width="100%" height="300"  src="https://player.vimeo.com/video/1049040805?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="✨ Websérie saison 4 ✨ Épisode 1"></iframe><script src="https://player.vimeo.com/api/player.js"></script></div>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px;">
                        <div style="background-color: #000">
                        <iframe width="100%" height="300"  src="https://player.vimeo.com/video/1045041976?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="✨ Websérie saison 4 ✨ Épisode 1"></iframe><script src="https://player.vimeo.com/api/player.js"></script></div>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px;">
                        <div style="background-color: #000">
                        <iframe width="100%" height="300"  src="https://player.vimeo.com/video/1038984107?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="✨ Websérie saison 4 ✨ Épisode 1"></iframe><script src="https://player.vimeo.com/api/player.js"></script></div>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px; ">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/rqniOSC7L9E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px; ">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/mvhgJ8lwiuM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px; ">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/XRDwNRVmMrc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px; ">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/aeXc3oxzwpQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px; ">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/JWdpyrWuji0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px; ">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/QqkiWIC9kNI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px; ">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/dgRtx36_d5M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px; ">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/NofDp7VdQTU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px; ">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/gJ9VKcv3mwk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px; ">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/3CyggKUbJLo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px; ">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/4Ix7iS_hk3g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px; ">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/qgB1IHqb948" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px; ">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/uP5mFDnNw5I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px; ">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/Yu0By7g1Y1M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px; ">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/n51qCBlTtcs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>

            </section>    

        </div>

      </div>
  </div>


     
{% endblock %}



