{% extends ':admin:layout.html.twig' %}



{% block content %}


		<div class="content-wrapper">
			<div class="container-fluid">
			
				<!-- Title & Breadcrumbs-->
				<div class="row page-titles">
					<div class="col-md-12 align-self-center">
						<h4 class="theme-cl">Modifier l'école</h4>
					</div>
				</div>
				<!-- Title & Breadcrumbs-->
				
				<!-- .row -->
				<div class="row">
					
                    
                    <!-- .col-md-6 -->
					<div class="col-12">
						<div class="card">
							<div class="card-header">
                                <h4><i class="ti i-cl-4 ti-arrow-left"></i> <a href="{{ path('site_admin_ecoles')}}">Revenir</a></h4>
							</div>
							
							<div class="card-body">
                                
                                
                                
                                
                               
                                {{ include('@ViwebEcole/Ecole/Admin/form.html.twig') }}
                                
                                
                                
								
							</div>
						</div>
                        

                            
                          

                            
                            
                        
                        
					</div>
					<!-- /.col-md-6 -->
				</div>
				<!-- /.row -->
					
				
				
			
				
			</div>  
			<!-- /.content-wrapper-->


{% endblock %}
