{# src/Viweb/SeoBundle/Resources/views/Seo/view.html.twig #}

{% extends "ViwebSeoBundle::layout.html.twig" %}

{% block body %}

  <h2>Le titre de la page</h2>
    <h4>La meta url :</h4>

    <div class="container">
        <div class="col-sm-12">
            {{ dump(seo)}}
           
        </div>

    </div>
  <p>
    
  </p>

{% endblock %}